@use 'homestyle';

body{
  margin: 0;

}


header a{
  color:#fff;
  &:hover{
    color: #000;
  }
}

.logo{
  color: #10466f !important;
  &:hover{
    color: #176aa9 !important;
  }
}

.label {
  color: #10466f  !important;
  font-weight: 500;
  &:hover {
    color:#176aa9 !important;
  }
}

.custom-appbar{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-radius: 50px;
  padding: 0.3em;
  width: 90% !important; 
  margin: 1em auto;
  box-shadow: none !important;
  border: none !important;
  background-color: white !important;

  opacity: 1;
  transform: translateY(0);
  transition: 0.3s ease-in !important;
  
}

.custom-appbar.scroll {
  opacity: 0;
  transform: translateY(-100%);
}

.custom-appbar.new-state{
  box-shadow:rgba(17, 17, 26, 0.08) 0px 0px 16px  !important;
}

.button-style{
  border-radius: 20px !important;
  font-weight: 600 !important;
  font-size: 0.7em !important;
  color: #10466f!important;
  border-color: #10466f !important;
  letter-spacing: 0.08em;
  
  &:hover {
    color: white !important;
    background-color: #10466f !important;
    
  }
  
}

.login{
  border-radius: 20px !important;
  font-weight: 600 !important;
  font-size: 0.7em !important;
  color:white !important;
  background-color:  #10466f  !important;
  letter-spacing: 0.08em;
  box-shadow: none !important;

  
  &:hover {
    color: white !important;
    background-color: #176aa9!important;
    

    
  }
}


